*{
    box-sizing: border-box;
    
}
body{
    background:#555;
    color:aliceblue
}
ul{
    display: flex;
    justify-content: space-between;
    width: 8rem;
    float: right;
    margin:1rem 5rem; 
    margin-bottom: 3rem;
}

ul li{
    list-style: none;
    display: inline-block;
    display: flex;
    align-items: center;
    
}
a{
    text-decoration: none;
}